<div class="topbar">
  <nav class="nav-bar nav-bar--left">
    <ul class="nav-bar__lists">
      <li><a class="nav-bar__lists__link" href="#">MINT</a></li>
    </ul>
  </nav>

  <nav class="nav-bar nav-bar--right">

    <ul class="nav-bar__lists nav-bar__lists--left">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
      </svg>
    </ul>

    <div class="search-container">
      <input type="text" placeholder="Search..">
    </div>

    <ul>
      <class="nav-bar__lists__link">
        <a href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
          </svg>

        </a>
        <div class="dropdown-menu" aria-labelledby="activities">


          <div class="dropdown-menu__item__title">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
            </svg>
            <h5>User 1</h5>
            <p>Account Data</p>
    </ul>




zzzzz








</div>
</nav>
</div>
