<div class="topbar">
  <nav class="nav-bar nav-bar--left">
    <ul class="nav-bar__lists">
      <li><a class="nav-bar__lists__link" href="#">MINT</a></li>
    </ul>
  </nav>

  <nav class="nav-bar nav-bar--right">

    <ul class="nav-bar__lists nav-bar__lists--left">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
      </svg>
    </ul>

    <div class="search-container">
      <input type="text" placeholder="Search..">
    </div>

    <ul>
      <class="nav-bar__lists__link" href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
        </svg></a>

        <class="nav-bar__lists__link" href="#">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#indicator"></use>
          </svg></a>

          <class="nav-bar__lists__link" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#language"></use>
            </svg></a>
    </ul>
  </nav>
</div>
