<div class="topbar">
  <nav class="nav-bar nav-bar--left">
    <ul class="nav-bar__lists">
      <li><a class="nav-bar__lists__link" href="#">MINT</a></li>
    </ul>
  </nav>
  <nav class="nav-bar nav-bar--right ">
    <ul class="nav-bar__lists nav-bar__lists--left">
      <a href="#" id="burger">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
        </svg>
      </a>
    </ul>
    <div class="search-container">
      <input type="text" placeholder="Search..">
    </div>
    <li="nav-bar__lists__link">
      <a href="#" id="burger">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
        </svg>
      </a>
      <div class="dropdown-menu" aria-labelledby="activities">
        <a class="dropdown-menu__item" href="#">
          <div class="circle circle--danger">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
            </svg>
          </div>
          <div class="dropdown-menu__item__title">
            <h5>Robert</h5>
            <p class="">1min</p>
          </div>
      </div>
      </a>
      </li>
</div>
</nav>
</div>
