<div class="topbar">
  <nav class="nav-bar nav-bar--left">
    <ul class="nav-bar__lists">
      <li><a class="nav-bar__lists__link">
          <svg class="svg-icon-nav">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
          </svg>
          <span>MINT</span>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav-bar nav-bar--right">
    <ul class="nav-bar__lists nav-bar__lists--left">
      <a id="burger">
        <svg class="svg-icon-nav">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
        </svg>
        <input class="search-container" type="text" placeholder="Search..">
      </a>
    </ul>

    <nav class="nav-bar nav-bar--right">
      <ul class="nav-bar__lists nav-bar__lists--right">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg class="svg-icon-nav">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
          </svg>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <h5>Notification</h5>
            <a class="dropdown-menu__item">
              <div class="circle-drop circle-drop--success">
                <svg class="svg-icon-drop">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
                </svg>
              </div>
              <div class="dropdown-menu__item__title">
                <h5>Chuck</h5>
              </div>
            </a>

            <a class="dropdown-menu__item">
              <div class="circle-drop circle-drop--success">
                <svg class="svg-icon-drop">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
                </svg>
              </div>
              <div class="dropdown-menu__item__title">
                <h5>Chuck</h5>
              </div>
            </a>

            <a class="dropdown-menu__item">
              <div class="circle-drop circle-drop--success">
                <svg class="svg-icon-drop">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
                </svg>
              </div>
              <div class="dropdown-menu__item__title">
                <h5>Chuck</h5>
              </div>
            </a>

      </ul>


      <ul class="nav-bar__lists nav-bar__lists--right">
        <a id="burger">
          <svg class="svg-icon-nav">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
          </svg>
        </a>


        <ul class="nav-bar__lists--link">
          <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="boxes__image svg-icon-nav" src="assets/images/women.jpeg" alt="user picture">


            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <h5>Welcome, Sun!</h5>
              <div class="dropdown-menu__item__title">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                <h5>Profile</h5>
              </div>
              <div class="dropdown-menu__item__title">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loyalty"></use>
                </svg>
                <h5>Settings</h5>
              </div>
              <div class="dropdown-menu__item__title">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#language"></use>
                </svg>
                <h5>Lock screen</h5>
              </div>
              <div class="dropdown-menu__item__title">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#offline"></use>
                </svg>
                <h5>Logout</h5>
              </div>
            </div>
</div>
</ul>
</ul>
</nav>
</nav>
</div>
