<div class="side-menu">
  <ul class="side-menu__lists">
    <li class "side-menu__lists__title">Main</li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        Dashboard
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#build"></use>
        </svg>
        UX Kit

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
        </svg>
        Typography

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#offline"></use>
        </svg>
        Components

      </a>
    </li>


    <li class "side-menu__lists__title">More</li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#indicator"></use>
        </svg>
        Tables
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pets"></use>
        </svg>
        Charts

      </a>
    </li>

    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
        </svg>
        Maps
      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
        Mail
      </a>
    </li>

    <li class "side-menu__lists__title">Extras</li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#language"></use>
        </svg>
        Pages
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loyalty"></use>
        </svg>
        Extras

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#front"></use>
        </svg>
        Multi Level
      </a>
    </li>

    </li>
  </ul>
</div>
