<div id="side-menu-right" class="side-menu side-menu--right side-menu--right--closed">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="acitvity" aria-selected="true">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="tab-activity">
      <div class="side-menu__tab-activity">
        <div class="side-menu__tab-activity__content">
          <p>5 minutes</p>
          <h5><a href="#">John Doe</a> Uploaded photo</h5>
          <h6>My recommendation would be to explain the merchant that our team is aware of the X bug in our platform, we are sorry for the inconveniences, and team will investigate it in the future and try to solve it.</h6>
        </div>
      </div>
      <div class="side-menu__tab-activity">
        <div class="side-menu__tab-activity__content">
          <p>5 minutes</p>
          <h5><a href="#">John Doe</a> Uploaded photo</h5>
          <h6>My recommendation would be to explain the merchant that our team is aware of the X bug in our platform, we are sorry for the inconveniences, and team will investigate it in the future and try to solve it.</h6>
        </div>
      </div>
      <div class="side-menu__tab-activity">
        <div class="side-menu__tab-activity__content">
          <p>5 minutes</p>
          <h5><a href="#">John Doe</a> Uploaded photo</h5>
          <h6>My recommendation would be to explain the merchant that our team is aware of the X bug in our platform, we are sorry for the inconveniences, and team will investigate it in the future and try to solve it.</h6>
        </div>
      </div>
      <div class="side-menu__tab-activity">
        <div class="side-menu__tab-activity__content">
          <p>5 minutes</p>
          <h5><a href="#">John Doe</a> Uploaded photo</h5>
          <h6>My recommendation would be to explain the merchant that our team is aware of the X bug in our platform, we are sorry for the inconveniences, and team will investigate it in the future and try to solve it.</h6>
        </div>
      </div>
    </div>


  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="tab-settings">
    <div class="side-menu__tab-settings">
      <div class="side-menu__tab-settings__content">





      </div>
    </div>
  </div>
</div>
</div>
