<div id="side-menu" class="side-menu">
  <ul class="side-menu__lists">
    <li class="side-menu__lists__title"><span>Main</span></li>
    <li class="side-menu__lists__list{{#is basename 'dashboard'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#build"></use>
        </svg>
      <span>UX Kit</span>

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love"></use>
        </svg>
        <span>Typography</span>

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#offline"></use>
        </svg>
      <span>Components</span>

      </a>
    </li>


    <li class="side-menu__lists__title"><span>More</span></li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#indicator"></use>
        </svg>
        <span>Tables</span>
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pets"></use>
        </svg>
        <span>Charts</span>

      </a>
    </li>

    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
        </svg>
        <span>Maps</span>
      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
        <span>Mail</span>
      </a>
    </li>

    <li class="side-menu__lists__title"><span>Extras</span></li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#language"></use>
        </svg>
        <span>Pages</span>
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loyalty"></use>
        </svg>
        <span>Extras</span>

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#front"></use>
        </svg>
        <span>Multi Level</span>
      </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#build"></use>
        </svg>
        <span>Boxes</span>

      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
        </svg>
        <span>tils</span>
      </a>
    </li>

    <li class="side-menu__lists__list">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pets"></use>
        </svg>
      <span>Tools</span>

      </a>
    </li>

    </li>
  </ul>
</div>
