<div class="side-menu">
  <ul class="side-menu-list">
    <li class="side-menu-list"><a href="#">Menu</li>
      <li class="side-menu-list"><a href="#">Menu</li>
        <li class="side-menu-list"><a href="#">Menu</li>
  </ul>
</div>
