<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  {{#is default.lang 'lt'}}
    <link rel="stylesheet" href="../assets/css/app.css">
    {{else}}
      <link rel="stylesheet" href="assets/css/app.css">
  {{/is}}
</head>

<body class="background-color">
  {{>navbar}}
  {{>sidenav}}

  <div class="section-container">
    {{>title}}
    {{body}}

  {{#is basename 'index'}}
    {{>footer}}
  {{/is}}

  <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>
  <script type="text/javascript" src="../node_modules/chart.js/dist/Chart.min.js"></script>
  <script "text/javascript" src="assets/js/js/chart.js"> </script>
  <script "text/javascript" src="assets/js/js/jquery.min.js"> </script>
  <script "text/javascript" src="assets/js/js/popper.min.js"> </script>
  <script "text/javascript" src="assets/js/js/bootstrap.js"> </script>
  <script "text/javascript" src="assets/js/js/app.js"> </script>

</body>
</html>
