<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>



  {{#is default.lang 'lt'}}
    <link rel="stylesheet" href="../assets/css/app.css">
    {{else}}
      <link rel="stylesheet" href="../assets/css/app.css">
  {{/is}}


</head>

<body>
  {{>navbar}}
  {{>sidenav}}

  <div class="section-container">
    {{>title}}
    {{body}}
  </div>

  {{#is basename 'index'}}
    {{>footer}}
  {{/is}}


  <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>


  <script "text/javascript" src="../node_modules/chart.js/dist/chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
          label: "My First dataset",
          backgroundColor: 'rgb(255,215,0)',
          borderColor: 'rgb(255,69,0)',
          data: [0, 10, 5, 2, 20, 30, 45],
        }]
      },

      // Configuration options go here
      options: {}
    });
  </script>

  <script "text/javascript" src="../node_modules/chart.js/dist/chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',

      // The data for our dataset
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
          label: "My First dataset",
          backgroundColor: 'rgb(255, 99, 132)',
          backgroundColor: 'rgb(255, 45, 132)',
          backgroundColor: 'rgb(235, 32, 30)',

          borderColor: 'rgb(255, 99, 132)',
          data: [0, 10, 5, 2, 20, 30, 45],
        }]
      },

      // Configuration options go here
      options: {}
    });
  </script>

  <script "text/javascript" src="../node_modules/chart.js/dist/chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById('myChart3').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'doughnut',

      // The data for our dataset
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
          label: "My First dataset",
          backgroundColor: 'rgb(125, 99, 132)',
          backgroundColor: 'rgb(55, 99, 132)',
          backgroundColor: 'rgb(21,43, 45)',
          backgroundColor: 'rgb(43, 99, 132)',
          backgroundColor: 'rgb(56,28, 34)',
          backgroundColor: 'rgb(45,67, 56)',
          backgroundColor: 'rgb(12,87, 110)',

          borderColor: 'rgb(255, 99, 132)',
          data: [0, 10, 5, 2, 20, 30, 45],
        }]
      },

      // Configuration options go here
      options: {}
    });
  </script>





</body>

</html>
