.section-container {
  margin-top: $nav-height +20;
  margin-left: $nav-left-width +15;
}

.boxes {
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: #fff;
  padding: 10px;
  text-align: right;
  margin-bottom: 15px;
  &__title {
  }
&--right {
    text-align: right;
    }
&__image {
    width: 80px;
    height: 80px;
    border-radius:50%;
    -o-object-fit:cover;
    object-fit:cover;
    margin-right: 10px;
}
&--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
}
