<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle circle--success">

              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#offline"></use>
              </svg></a>
            </div>
          </div>

          <div class="col-8 v-align">
            <h5>14,564</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle circle--primary">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
              </svg></a>

            </div>
          </div>

          <div class="col-8 v-align">
            <h5>32,564</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle circle--danger">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#indicator"></use>
              </svg></a>

            </div>
          </div>

          <div class="col-8 v-align">
            <h5>280</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle circle--secondary">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#front"></use>
              </svg></a>

            </div>
          </div>

          <div class="col-8 v-align">
            <h5>0.3%</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="boxes">
        <h6 class="boxes__title">Yearly Sales Report</h6>

        <canvas id="myChart"></canvas>



      </div>
    </div>

    <div class="col-xl-4">
      <div class="boxes">
        <h6 class="boxes__title">Total Revenue</h6>

        <canvas id="myChart2"></canvas>


      </div>
    </div>





    <div class="col-xl-4">
      <div class="boxes">
        <h6 class="boxes__title">Total Revenue</h6>
        <canvas id="myChart3"></canvas>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-8">
      <div class="boxes">
        <h6 class="boxes__title">Latest projects</h6>
        <p class="boxes__subheading">Your awesome text goes here.</p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Project Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">Due Date</th>
              <th scope="col">Status</th>
              <th scope="col">Assign</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Minton Admin 1</td>
              <td>03/13/19</td>
              <td>06/27/19</td>
              <td>Released</td>
              <td>Admin</td>


            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Minton Admin 2</td>
              <td>03/13/19</td>
              <td>06/27/19</td>
              <td>Released</td>
              <td>Admin</td>


            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Minton Admin 3</td>
              <td>03/13/19</td>
              <td>06/27/19</td>
              <td>Pending</td>
              <td>Admin</td>


            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Minton Admin 3</td>
              <td>03/13/19</td>
              <td>06/27/19</td>
              <td>Released</td>
              <td>Admin</td>


            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Minton Admin 3</td>
              <td>03/13/19</td>
              <td>06/27/19</td>
              <td>Pending</td>
              <td>Admin</td>


            </tr>
          </tbody>
        </table>


      </div>
    </div>

    <div class="col-xl-4">
      <div class="row">
        <div class="col-12">
          <div class="boxes boxes--flex">
            <img class="boxes__image" src="assets/images/men.jpeg" alt="user picture">
            <div class="boxes__user-info user-role--master v-align">
              <p>Keith</p>
              <p>keith@gmail.com</p>
              <h6>Manager</h6>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="boxes boxes--flex">
            <img class="boxes__image" src="assets/images/women.jpeg" alt="user picture">
            <div class="boxes__user-info user-role--user v-align">
              <p>Anna</p>
              <p>anna@gmail.com</p>
              <h6>Admin</h6>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="boxes boxes--flex">
            <img class="boxes__image" src="assets/images/women1.jpeg" alt="user picture">
            <div class="boxes__user-info user-role--admin v-align">
              <p>John</p>
              <p>john@gmail.com</p>
              <h6>Manager</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
