---
layout: login.hbs
---

<div class="container perfec-center">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="login">
        <div class="login_title">Tekstas        </div>

        <div class="login__form">
          <form class="login-form" name="login-form" action="dashboard.html" method="post">

            <div class="login__form__item">
              <input type="email" name="email" value="" required="required">
              <label for="label-inside">Email Address</label>
            </div>

            <div class="login__form__item">
              <input type="password" name="password" value="" required="required">
              <label for="label-inside">Password</label>
            </div>

              <div class="login__form__item login__form__item--checkbox">
                <div class="checkbox">
                <input type="checkbox" name="remember" value="" id="remember" required="required">
                <label for="remember">Remember me</label>
              </div>
            </div>

            <button class="button button--full-width">Button</button>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
