<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
        <div class="boxes boxes--profile-picture">
          <div class="col-12">


        <div class="profile-picture">
          <img class="boxes__image" src="assets/images/women.jpeg" alt="user picture">
          <div class="boxes__user-info user-role--user">
            <h5>Anna McRight</h5>
            <p>@developer</p>

            <div class="row">
              <button type="button" class="btn btn-success">Follow</button>
              <button type="button" class="btn btn-danger">Message</button>
            </div>
          </div>
          <div class="text-form">
            <p>Full Name: Anna McRight</p>
            <p>Mobile: (123) 546 585</p>
            <p>Email: anna@gmail.com</p>
            <p>Location: USA</p>
          </div>
        </div>

      </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="boxes boxes--profile">
        <div class="col-12">





          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
          </nav>


          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

              <form>
                <h6>Full Name</h6>
                <input type="text" class="form-control" placeholder="">
                <h6>Email</h6>
                <input type="text" class="form-control" placeholder="">
                <h6>Username</h6>
                <input type="text" class="form-control" placeholder="">
                <h6>Password</h6>
                <input type="text" class="form-control" placeholder="">
                <h6>Re-Password</h6>
                <input type="text" class="form-control" placeholder="">
                <h6>About Me</h6>
                <input type="text" class="form-control" placeholder="">
              </form>

            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            </div>
          </div>







        </div>

      </div>

                  </div>

              </div>




              <div class="row">

            <div class="col-lg-4">
              <div class="boxes boxes--profile-side">


                <div class="wrapper">
                  <div class="container">
                    <div class="row">
                      <div class="skillbar" data-percent="55%">
                        <div class="skillbar-title">Web design</div>
                        <div class="skill-bar-percent">55%</div>
                        <div class="skillbar-bar" style="width: 55%;"></div>
                      </div>

                      <div class="skillbar" data-percent="80%">
                        <div class="skillbar-title">development</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                      </div>

                      <div class="skillbar" data-percent="40%">
                        <div class="skillbar-title">Photography</div>
                        <div class="skill-bar-percent">40%</div>
                        <div class="skillbar-bar" style="width: 40%;"></div>
                      </div>

                      <div class="skillbar" data-percent="70%">
                        <div class="skillbar-title">branding</div>
                        <div class="skill-bar-percent">70%</div>
                        <div class="skillbar-bar" style="width: 70%;"></div>
                      </div>
                    </div>

                  </div>

                  </div>







              </div>

          </div>




















              </div>
            </div>
