<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="boxes boxes--profile-picture">
        <div class="row">




          <div class="profile-picture">
            <img class="boxes__image" src="assets/images/women.jpeg" alt="user picture">
            <div class="boxes__user-info user-role--user">
              <h5>Anna McRight</h5>
              <p>@developer</p>

              <div class="row">
                <button type="button" class="btn btn-success">Follow</button>
                <button type="button" class="btn btn-danger">Message</button>

              </div>


            </div>

            <div class="text-form">
              <p>Full Name: Anna McRight</p>
              <p>Mobile: (123) 546 585</p>
              <p>Email: anna@gmail.com</p>
              <p>Location: USA</p>

            </div>

            </div>









        </div>
      </div>
    </div>


    <div class="col-lg-8">
      <div class="boxes boxes--profile-side">
        <div class="row">




          <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>


    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
</div>



    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
  </div>

            </div>
          </div>








        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="boxes boxes--profile">
        <div class="row">


        </div>
      </div>
    </div>



  </div>
