@mixin default-button($height: 50px, $background: orange){
  display: block;
  width: auto;
  height: $height;
  line-height: $height;
  background: $background;
  border: 0;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  text-decoration: none;
  text-align: center;
  &:hover{
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
  }
  &:focus{
    outline: none;
  }
}

.button{
  @include default-button();
  &--full-width{
    width: 100%;
  }
}
.btn{
  margin: 3px;
}
