input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

@mixin default-label($background: #fff, $selector: '.label-inside'){
  #{$selector}{
    position: absolute;
    background: #fff;
    font-size: 16px;
    color: $gray-500;
    top: 18px;
    left: 18px;
    margin: 0;
    -webkit-transform: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
    pointer-events: none;
  }
}
@mixin default-input($selector: 'input:not([type=checkbox])', $background: '#fff', $height: $input-height){
  #{$selector}{
    width: 100%;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    background: #fff;
    color: $gray-600;
    padding-left: 18px;
    &:focus{
      outline: none;
      border-color: $default-bg;
      -webkit-box-shadow: 0 0 0 1px $default-bg;
        box-shadow: 0 0 0 1px $default-bg;
    }
    &:valid ~ label{
      top: -7px;
      padding: 0 6px;
      font-size: 12px;
    }
    &:focus ~ label {
      top: -7px;
      padding: 0 6px;
      font-size: 12px;
    }
  }
@include default-label($background: #fff)

}
