.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  .nav-bar {
    position: relative;
    height: $nav-height;
    background: #4169E1;

    &--left {
      width: $nav-left-width;
      float: left;
      text-align: center;
    }

    &--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__lists {
      line-height: $nav-height;
      list-style-type: none;

      &--left {}

      &--right {
        display: inline-block;
        display: inherit;
        list-style-type: none;


        &__link {
          margin: 5px;
          list-style-type: none;
          display: inline-block;
        }
      }

      .dropdown-menu {
        &__item {
          display: -webkit-box;

          .circle {
            @include circle($height: 20px, $width: 20px)
          }

          &__title {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.nav-bar__lists__link {
  margin: 25px 900px 5px 5px;
}

.svg-icon {
  width: 20px;
  height: 20px;
  fill: #A9A9A9;
  margin: 0;
}

.svg-icon-nav {
  width: 20px;
  height: 20px;
  fill: #A9A9A9;
  margin: 10px;
}

.search-container {
  width: 150px;
  height: 30px;
  display: inherit;
  margin-left: 20px;

}
